/*
* CT Dropdowns
* 
* @package WP Consultant
* @subpackage CSS
*/

/** Nav
==============================================================================*/

nav {
	position: relative;
	z-index: 999;
}
	header nav {}
		header nav div#nav { }

nav li {
	display: inline-block;
}

nav li:first-child {
	border-left: none;
}

nav li:last-child {
	border-right: none;
}

nav li a {
	float: left;
	display: block;
	color: #fff;
	padding: 9px 18px;
	text-decoration: none;
	border-right: 1px solid #d3551d;
}
	nav ul.menu li:first-child a {}
		ul.sub-menu li:first-child a {}
		nav li a:visited { color: #fff;}
		nav li.drop li a {}
		nav li:last-child a {}

header nav li.current-menu-item > a {
	color: #fff;
}
	nav ul.menu li a:hover { opacity: 0.8;}
	nav li.drop a:hover {}
	footer nav li.current-menu a {}

nav li.drop,
nav li.drop li {
	position: relative;
}
	nav li .sub-menu li { text-align: left !important; font-size: 12px !important;} 

nav li.drop a {
}
	nav li.drop li a { color: #ccc !important; background-color: #222;}

nav ul > li.drop {

}

nav ul > li.drop > a:hover,
nav ul > li.drop:hover > a {
	position: relative;
}

nav ul li.drop li.drop,
nav ul > li.drop li.drop:hover > a {

}

nav ul > li.drop li.drop:hover > a {

}

nav li .sub-menu {
	display: none;
}

nav li:hover .sub-menu,
nav li .sub-menu ul {
	position: relative;
	left: -4px;
	width: 180px;
	background: #222;
	border-left: 1px solid #444;
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
	z-index: 999;
}
	nav li .sub-menu li a:hover { background: #000;}

nav li:hover .sub-menu {
	display: block;
	position: absolute;
	top: 36px;
	z-index: 999;
}

nav li:hover .sub-menu ul {
	display: none;
}

nav li.drop li.drop:hover ul {
	display: block;
}

nav li .sub-menu ul.sub-menu {
	position: absolute;
	top: -1px;
	left: 180px;
}

nav#dark li:hover .sub-menu,
nav#dark li .sub-menu ul {
	background: #333;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

nav.rounded .sub-menu,
nav.rounded .mega-sub-menu {
	-o-border-radius-bottomleft: 5px; 
	-icab-border-radius-bottomleft: 5px; 
	-khtml-border-radius-bottomleft: 5px; 
	-moz-border-radius-bottomleft: 5px;  
	-webkit-border-radius-bottomleft: 5px;
	-o-border-radius-bottomright: 5px; 
	-icab-border-radius-bottomright: 5px; 
	-khtml-border-radius-bottomright: 5px; 
	-moz-border-radius-bottomright: 5px;  
	-webkit-border-radius-bottomright: 5px;
}

nav .sub-menu li {
	float: none;
	border-right: none !important;
	width: 100%;
}

nav .sub-menu a,
nav#dark sub-menu a {
	display: block;
	float: none;
	border-bottom: 0;
}

nav .sub-menu li {
	border-bottom: 1px solid #777;
}

nav#dark .sub-menu li {
	border-top: 1px solid #777;
	border-bottom: 0;
}

nav .sub-menu li:last-child {
	border-bottom: none;
}