/*
* dsIDXpress
* 
* @package WP Pro Real Estate 5
* @subpackage CSS
*
/*


/* ============================================================================== */
/* Default Plugin Override Styles
/* ============================================================================== */

	/* Listings Archive */

	.dsidx-results .dsidx-paging-control,
	#dsidx .dsidx-sorting-control { text-align: left;}
		.dsidx-results .dsidx-paging-control { margin: 0 0 20px 0; padding: 0 0 5px 0; border-bottom: 1px solid #ccc;}
		.dsidx-sorting-control form select { margin: 5px 0 20px 0;}
		
	#dsidx-map-control { padding: 5px 10px; background: #ccc; text-align: center;}
		#dsidx-map-control img { display: none;}
		#dsidx-map-control a { color: #212121;}
	
	#dsidx-listings li.dsidx-listing { border-bottom: 1px solid #ccc;}
	
		#dsidx-listings .dsidx-primary-data,
		#dsidx-listings .dsidx-secondary-data { padding: 20px 20px 20px 280px;}
			#dsidx-listings .dsidx-primary-data { font-size: 14px;}
			#dsidx-listings .dsidx-primary-data a { display: block; font-size: 16px; margin: 0 0 5px 0; color: #252525;}
				#dsidx-listings .dsidx-primary-data a:hover { text-decoration: none; opacity: 0.85;}
			#dsidx-listings .dsidx-price,
			.dsidx-details #dsidx-primary-data #dsidx-price { color: #79be04;}
			
			#dsidx-listings .dsidx-secondary-data div { margin: 0 0 5px 0;}
		
		#dsidx-listings hr { display: none;}
		
	/* Listings Single */
	
	.dsidx #archive-header h1 { font-size: 19px;}
	.dsidx #archive-header .breadcrumbs { top: 3px;}
	
	#dsidx-actions { margin: 0 0 20px 0; padding: 0 0 10px 0; border-bottom: 1px solid #ececec;}
		#dsidx-actions .dsidx-actions-button { margin: 0 20px 0 0; padding: 0 20px 0 0; border-right: 1px solid #ccc;}
			#dsidx-actions .dsidx-actions-button:last-child { border: none;}
		#dsidx-actions a,
		#dsidx-actions a img { display: inline-block;}
			#dsidx-actions a { }
			#dsidx-actions a img { margin: 0 12px 0 0;}
		
	#dsidx table { border: none;}
	.dsidx-details #dsidx-header table td { padding: 5px 20px;}
		.dsidx-details #dsidx-header table td#dsidx-media-td { padding: 0;}
			.jb-navigation .jbn-right-button,
			.jb-navigation .jbn-left-button { position: relative; top: -4px !important;}
		#dsidx .dsidx-secondary-row { background: none;}
			.dsidx-details #dsidx-primary-data th { padding: 5px 0;}
			.shortsale-notice { display: block; background: #fa6900; margin: 5px 0 10px 0; padding: 5px 20px; font-weight: bold; color: #fff;}
			
	blockquote#dsidx-description { border: none; font-style: normal; font-size: 13px; line-height: 19px;}
		
	.dsidx-details h3,
	.dsidx-details #dsidx-property-types { margin: 20px 0 0 0; padding: 0 0 10px 0; border-bottom: 1px solid #ececec;}
			.dsidx-details h3 { margin-bottom: 20px;}
		.dsidx-details #dsidx-secondary-data { margin: 20px 0 0 0; border: none;}
			.dsidx-details #dsidx-secondary-data th { padding: 5px 0;}
			.dsidx-details #dsidx-secondary-data th img { position: relative; top: 4px; padding: 0 5px 0 0;}
				#dsidx img { display: inline;}
				
	/* Search Widget */
	.dsidx-search-widget table { border: none;}
		.dsidx-search-widget th { margin: 0; padding: 0; vertical-align: middle;}
			.dsidx-search-widget .dsidx-price { width: 94%;}
			.dsidx-search-widget .separator { display: none;}
			.dsidx-widget.dsidx-search-widget .dsidx-search-button { width: auto; margin: 0;}
			.dsidx-search-widget .dsidx-search-button .submit { float: left;}
 